.mn-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.mn-container h2 {
  color: #00adb5;
  flex-basis: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.mn-scroll-container {
  display: flex;
  overflow-x: scroll;
  max-width: 700px;
}

.mn-scroll-container::-webkit-scrollbar {
  display: none;
}

.mn-scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mn-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 700px;
  text-align: center;
  color: #00adb5;
  border: solid 5px #393e46;
}

.mn-img {
  object-fit: cover;
  height: 40vh;
  cursor: pointer;
}

.mn-desc {
  margin: auto;
}

h5 {
  margin-top: 20px;
}
