nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  color: #eeeeee;
}

nav h1 {
  font-weight: 700;
  font-size: 2rem;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #eeeeee;
}

Link {
  text-decoration: none;
}

li {
  color: #eeeeee;
}

li:visited {
  color: #eeeeee;
}

li:hover {
  color: #eeeeee;
}

@media screen and (max-width: 798px) {
  .nav-links {
    display: block;
  }
  .nav-links li {
    margin: 10px 0;
  }
}
