.row {
  margin-left: 20px;
  margin-top: 20px;
  width: 95%;
  color: #00adb5;
}

.row-container {
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: solid 5px #393e46;
  border-radius: 3%;
  height: 270px;
  width: 100%;
}

.row-imgs {
  padding: 10px 10px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  cursor: pointer;
}

.row-imgs::-webkit-scrollbar {
  display: none;
}

.row-imgs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row-img {
  object-fit: cover;
  width: 150px;
  max-height: 270px;
  max-width: 150px;
  margin-right: 20px;
  transition: all 0.3s ease;
  border-radius: 7%;
}

.row-img:hover {
  transform: scale(1.05);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.btn-right img,
.btn-left img {
  -webkit-filter: invert(70%);
  filter: invert(70%);
  width: 30px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (max-width: 798px) {
  .row {
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    display: none;
  }
}
